<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />

    <add key="ConnectionString" value="qK0evMTlVoIhuJUzgjzyTpKX5vwv2ntn3Y3w6clKs94KjmneORRIvJnTOxOBJmvP86yKV+2MR6dkoXSfmmMFPahX0UPVouI8anC0ZLMvBSQ="/>
    <!--<add key="ConnectionString" value="DFbChrG7wQb7xGj4av+UYcOfw86Np60MX29dh2Sxx4tBWr+MVl5CfDmx/LFa/ziLq+AOfIdq21mRbVvBz42nezy6TXNVvEQ40EHZmP6TRgngMapMzqCxnvQJpetPJGSfqAdutWMuYF4GqTN3DMYQ/A=="/>-->
      
    <add key="CommandTimeout" value="500" />
  </appSettings>
  <connectionStrings>    
    <add name="ConnString" connectionString="Data Source=AJIT; Database=InfraERP; user id=sa; password=admin@123" />
    <!--<add name="ConnString" connectionString="Data Source=LENOVOZ51; Database=InfraERP; user id=sa; password=!nfrability02"/>-->

  </connectionStrings>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="32768"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AuditWSSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.15.147:8088/AuditWS.asmx" binding="basicHttpBinding"
        bindingConfiguration="AuditWSSoap" contract="AuditWS.AuditWSSoap"
        name="AuditWSSoap" />
    </client>
  </system.serviceModel>
</configuration>